


.container {
  display: flex;
  flex-direction: row;
  padding: 60px 0px 0px 150px;
  margin-right: 250px

}


.text {
  white-space: nowrap;
  font-family: Georgia, '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
  
}

.text h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  /* margin-bottom: 15px; */
}

.text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  

}

.navbar  {
  padding: 0px 140px;
  margin-bottom: -15px;
}

.dropdown-menu a{
  font-weight: 400;
  font-size: 17px;
  
  
}

.dropdown-menu a p {
  margin: 0px ;
  padding: 0px ;

}

.dropdown-menu{
  margin: 0px ;
}

#navbarDropdown a {
  margin: 0px
}

.collapse a{
  margin: 0px 10px;
  white-space: nowrap;
 }

  nav ul li :hover{
  color: orange;
  }
 


 .box{
  margin: 0px -30px;
  width: 300px;
  height: 50px;
}

.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  
}

.container-2 input#search{
  width: 0px;
  height: 50px;
  background:white;
  /* border: none; */
  font-size: 10pt;
  float: right;
  color: #262626;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  color: inherit;
  
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
 }

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
  border:none
 
  
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}
 
.container-2:hover input#search{
width: 300px;
}
 
.container-2:hover .icon{
  color: #93a2ad;
  margin-left: calc( 35px -1em );
  border:black !important;
}

.container-2:hover .icon i{
  margin-left: 0 !important;
  border:black !important;
  
}

.眼鏡画像 img{
  margin: 12px 150px;
 }

.眼鏡画像 h3{
  margin: 150px;
  margin-top: 95px;
  font-size: 27px;
  font-weight: 400;
  line-height: 49px;
  color: #777777;
  font-family: Georgia, '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
}

.投稿歴 {
  font-family: Georgia, '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
  margin-top: -50px;
}

.投稿歴 #投稿1 p{
  margin-left: 150px;
  font-size: 17px;
  font-weight: 400px;
  line-height: 30px;
  color: #666666;
  margin-bottom: -15px;
}

.投稿歴 #投稿2  {
  margin-right: 0px;
  right: 230px;

}

.投稿歴 #投稿2 h4:hover{
 color: orange;
 
}

.投稿歴 #投稿2 a {
  text-decoration: none;
  color:black
}
.投稿歴 #投稿3 p{
  margin-left: 165px;
  font-size: 17px;
  font-weight: 400px;
  line-height: 30px;
  color: #666666;
  margin-top: 85px;
}

.投稿歴 #投稿4  {
  margin-right: 0px;
  right: 230px;
  margin-top: 85px;

}

.投稿歴 #投稿4 h4:hover{
 color: orange;
 
}

.投稿歴 #投稿4 a {
  text-decoration: none;
  color:black
}
.投稿歴 #投稿5 p{
  margin-left: 175px;
  font-size: 17px;
  font-weight: 400px;
  line-height: 30px;
  color: #666666;
  margin-top: 85px;
}

.投稿歴 #投稿6  {
  margin-right: 0px;
  right: 230px;
  margin-top: 85px;

}

.投稿歴 #投稿6 h4:hover{
 color: orange;
 
}

.投稿歴 #投稿6 a {
  text-decoration: none;
  color:black
}
.投稿歴 #投稿7 p{
  margin-left: 185px;
  font-size: 17px;
  font-weight: 400px;
  line-height: 30px;
  color: #666666;
  margin-top: 85px;

}

.投稿歴 #投稿8  {
  margin-right: 0px;
  right: 230px;
  margin-top: 85px;

}

.投稿歴 #投稿8 h4:hover{
 color: orange;
 
}

.投稿歴 #投稿8 a {
  text-decoration: none;
  color:black
}
.投稿歴 #投稿9 p{
  margin-left: 195px;
  font-size: 17px;
  font-weight: 400px;
  line-height: 30px;
  color: #666666;
  margin-top: 85px;
}

.投稿歴 #投稿10  {
  margin-right: 0px;
  right: 230px;
  margin-top: 85px;

}

.投稿歴 #投稿10 h4:hover{
 color: orange;
 
}

.投稿歴 #投稿10 a {
  text-decoration: none;
  color:black
}
.投稿歴 #投稿11 p{
  margin-left: 205px;
  font-size: 17px;
  font-weight: 400px;
  line-height: 30px;
  color: #666666;
  margin-top: 85px;
}

.投稿歴 #投稿12  {
  margin-right: 0px;
  right: 230px;
  margin-top: 85px;

}

.投稿歴 #投稿12 h4:hover{
 color: orange;
 
}

.投稿歴 #投稿12 a {
  text-decoration: none;
  color:black
}

.main {
 display: flex; 
 margin-left: 445px;
 margin-top: 85px;
 list-style: none;
 margin-bottom: 90px;
}

.main a {
  border:solid; 
  border-width: thin;
  border-color:rgb(200, 200, 200);
  margin-left: 15px;
  padding: 10px 20px;
  
}

.main a span {
background-color: rgb(221, 221, 221) !important;
border: solid 1px #ccc;
color: #333;
font-weight: 700;
padding: 10px 20px;
margin: -10px -20px;
}

.site-footer{
 border-top: thin solid  ;
 border-bottom: thin solid  ;
 margin:90px 0px ;
 padding-bottom: 90px;

}
.fot img{
  border-radius: 100px;
  width: 100px;
  height: 100px;
  float: left ;
  
}

.text p{
  clear: both;
  margin-top:25px
}

.fot h4 {
  padding-top: 30px;
  /* padding-right: 20px !important; */
  
}

.fot a{
  color:gray;
  margin-left:15px;
  /* background-size: 40px; */
}

.box1{
  margin:0px 45px 0px 90px;
}

.box1 h6{
  margin-bottom: 45px;
  white-space: nowrap;
  width: 210px;

}

.box2{
 white-space: nowrap;
 margin-right: 100px;
}

.box2 h6{
  margin-bottom: 45px;
}

.box2 a{
  color: #000;
}

.box3{
  white-space: nowrap;
  /* margin-right: 100px; */
 }

.box3 h6{
 margin-bottom: 45px;
}

.box3 input{
  width: 225;
  height: 45px;
  border-color: rgb(235, 248, 248);
  border-style: ridge;
  margin-top: 40px;
  /* border:solid 1px */
}

.box3 a{
  display: block;
  margin-bottom: 25px;
  color:black
}

.icon{
  margin-left: 150px;
  
}

.icon a{
  margin-left: 15px;
  color:gray
}

.p{
  padding-left: 230px;
 }